name: Mirror to personal repo

on:
  push:
    branches:
      - master

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Remove workflows before mirror
        run: rm -rf .github/workflows

      - name: Push to mirror
        run: |
          git remote add mirror https://x-access-token:${{ secrets.MIRROR_TOKEN }}@github.com/${{ vars.MIRROR_OWNER }}/voux-docs-mirror.git
          git push mirror master --force


